@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

html {
/*	font-size: 16px;*/
}

body {
	background: hsl(0, 0%, 98%);
	padding: 25px 50px;
	font-family: Epilogue;
	color: hsl(0, 0%, 41%);
}

nav {
/*	display: inline-block;*/
padding: 10px 40px;
}

.left_nav, .right_nav, .brands_list {
	display: inline-block;
	list-style: none;
}

.right_nav {
	float: right;
	margin: 0;
}

.left_nav > li, .right_nav > li, .brands_list li {
	display: inline-block;
	margin: 10px;
}

.brands_list {
	padding: 0;
}

.main_logo {
	vertical-align: middle;
}

.main {
	width: 80%;
	min-width: 1000px;
	margin: auto;
	display: grid;
	grid-template-columns: 47% 47%;
	column-gap: 6%;
}

.main h1 {
	font-size: 5rem;
	color: hsl(0, 0%, 8%)
}

.main p {
	font-size: 1.25rem;
}

.right_main img {
	width: 100%;
	background-size: contain;
}

.left_main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.left_main button {
	background: hsl(0, 0%, 8%);
	color: hsl(0, 0%, 98%);
	border: none;
	border-radius: 10px;
	padding: 15px 20px;
/*	font-weight: 700;*/
	font-size: 1.25rem;
}

.register_btn {
	background: none;
	border-color: hsl(0, 0%, 41%);
	border-radius: 10px;
	padding: 10px 10px;
	font-weight: 700;
	color: hsl(0, 0%, 41%);
}

.feature_btn, .company_btn {
	margin: 2px 6px;
	position: relative;
}

.hidden_features, .hidden_company {
	display: none;
}

.hidden_features > li, .hidden_company > li {
	list-style: none;
}

a {
	color: inherit;
    text-decoration: none;
}

a:hover {
	color: inherit;
    text-decoration:none;
    cursor:pointer;  
}

.hidden_features.active, .hidden_company.active {
    /* position: static; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: 1rem; */
    /* padding: 1rem; */
    /* background-color: var(--almost-white); */
    width: max-content;
    border-radius: 10px;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    padding: 1rem;
    top: 2rem;
    box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
    z-index: 1;
}